@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');
@import url('https://fonts.googleapis.com/css?family=Spinnaker');



/* --------------------------------------------- ESTILOS PARA APP.JS --------------------------------------------- */

.divApp{
    text-align: center;
    padding: 10px;
    /* background-color: aquamarine; */
    background-image:url("./components/resources/Fondo.jpg");
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    min-height: 100vh;

}

/* Estilos genericos para divs */

.divGeneric {                       
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */ 
    min-height: 75vh;  
}


.credits {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;


    font-weight: bold;
    text-shadow: 0 0 2px #4f9;
}
.credits h4 {
    margin: 0;
}

/* .credits button {
    border-radius: 10px;
    width: 15%;
    height: 100%;
    font-family:'Spinnaker', sans-serif;
    color: beige;
    background-color:#4a0060;
    
}
.credits button:hover {
    color: black;
    background-color: darkslategray;
    box-shadow: 0 0 5px #4f9;
    transition: 0.5s;
} */
    




/* --------------------------------------------- ESTILOS PARA COMPONENTS/NAV.JSX --------------------------------------------- */

.Nav {
    
    /* background-color: aqua;
    border: solid 3px;
    border-color: red; */
    height: 10vh;
}

.navButton {
    border-radius: 10px;
    width: 15%;
    min-width: fit-content;
    height: 100%;
    font-family:'Spinnaker', sans-serif;
    color: beige;
    background-color:#4a0060;
}

.navButton:hover {
    color: black;
    background-color: darkslategray;
    box-shadow: 0 0 5px #4f9;
    transition: 0.5s;
}


/* --------------------------------------------- ESTILOS PARA COMPONENTS/SEARCHBAR.JSX --------------------------------------------- */

.divSearch { 
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    /* max-width: 50%; */
    /* margin: 0 auto; */
    /* margin-top: 20px; */
    padding: 20px;
}
.divSearch input {
    border-radius: 10px;
    width: 30%;
    min-width: 10rem;
    height: 100%;
    box-shadow: 0px 0px 10px #ff2ae6b4;
    border: black;
    
    
}
/* .searchButton {
    border-radius: 10px;
    width: 15%;
    min-width: fit-content;
    height: 100%;
    font-family:'Spinnaker', sans-serif;
    color: beige;
    background-color:#4a0060;
    
}
.searchButton:hover {
    color: black;
    background-color: darkslategray;
    box-shadow: 0 0 5px #4f9;
    transition: 0.5s;
} */
    









/* --------------------------------------------- ESTILOS PARA COMPONENTS/CARD.JSX --------------------------------------------- */

.divCard {

    /* CONFIGURACION FLEX PARA DEJAR TODO EN COLUMNA DENTRO DE CADA CARD */

    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: fit-content; */

    /* CONFIGURACION FLEX PARA DEJAR EL "H2OTRO (Especie y Genero)" EN LINEA DENTRO DE CADA CARD */

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 20rem;
    height: 27rem;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    
    background-color: rgba(70, 131, 180, 0.3);
    backdrop-filter: blur(5px);
    /* padding-top: 2px; */
    margin: 20px 10px;
    border-radius: 20px;
    box-shadow: 0 0 20px #4f9;
    
}
.divCard:hover {
    cursor: pointer;
    box-shadow: 0 0 30px #4f9;
    transition: 0.3s;
}
.divCard:hover .h2Title {
    /* font-size: 35px; */
    text-shadow: 0 0 2px #ff9595;
    transition: 0.3s;
}
.divCard img {
    padding: 10px 10px;
    border-radius: 25px;
    object-fit: cover;
    
    /* border-radius: 15px; */
    
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    /* width: 100%;
    height: 100%; */
}
.divCard button {  
    
    border-radius: 20px;
    border-color: rgba(106, 0, 0, 0.5);
    background-color: transparent;
    color: rgba(75, 0, 0, 0.5);
    margin: 5px;
    margin-left: 85%;
    font-family:'Spinnaker', sans-serif;
    font-weight:bold;
}
.divCard button:hover {
    color: rgb(106, 0, 0);
    text-shadow: 0 0 30px #ff1d1d;
    /* background-color: rgba(171, 0, 0, 0.805); */
    box-shadow: 0px 0px 10px #ff1d1d;
    transition: 0.3s;
}

.h2Title {
    width: 100%;
    font-family: 'Gochi Hand', sans-serif;
    font-size: 28px;
    color: #530037;
    margin: 5px 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.h2Otro {
    /* display: inline;
    left: -80%;
    width: 50%; */
    font-family:'Spinnaker', sans-serif;
    font-size: 15px;
    margin: 5px 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}



/* --------------------------------------------- ESTILOS PARA COMPONENTS/CARDS.JSX --------------------------------------------- */

.divCards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    
}




/* --------------------------------------------- ESTILOS PARA COMPONENTS/ABOUT.JSX --------------------------------------------- */

.about {
    display: flex;
    /* flex-direction: column; */
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    /* text-shadow: 0px 0px 10px #ff2ae6b4; */
    margin: 20px;
    color: aliceblue;
}

.divDescription {
    width: 50%;
}

.about img {
    width: 300px;
    /* padding: 10px 10px; */
    border-radius: 25px;
    object-fit: cover;
}

.redes {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* text-shadow: 0px 0px 10px #ff2ae6b4; */
    color: aliceblue;
}

.redes a {
    margin: 10px;
    font-size: 15px;
    color: beige;
}
.redes a:hover {
    text-shadow: 1px 2px 5px #4f9;
    transition: 0.5s;
}

.logo {
    width: 25px;
}


/* --------------------------------------------- ESTILOS PARA COMPONENTS/DETAIL.JSX --------------------------------------------- */

.detail {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-shadow: 0px 0px 10px #ff2ae6b4;
    margin: 20px;
}
.detail img {
    padding: 10px 10px;
    border-radius: 25px;
    object-fit: cover;
}


.detailBackButton {
    margin-top: 20px;
    border-radius: 10px;
    width: 15%;
    min-width: fit-content;
    height: 100%;
    font-family:'Spinnaker', sans-serif;
    color: beige;
    background-color:#4a0060;
    
}
.detailBackButton:hover {
    color: black;
    background-color: darkslategray;
    box-shadow: 0 0 5px #4f9;
    transition: 0.5s;
}


/* --------------------------------------------- ESTILOS PARA COMPONENTS/E404.JSX --------------------------------------------- */

.error {
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap; 
    margin: 30px;
    padding: 30px;
    border-radius: 30px;
    color: aliceblue;
    background-color: rgba(58, 58, 58, 0.3);
    backdrop-filter: blur(5px);
}

.error img {
    width: 300px;
    /* padding: 10px 10px; */
    border-radius: 25px;
    
}





